@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.slick-slide>div {
    margin: 0 10px;
}

/* minimal react-slick dots */
.slick-dots li button:before {
    display: none
}

.slick-dots {
    display: flex;
    gap: 21px;
    justify-content: center;
    padding: 0;
    margin: 20px 0 20px 0;
    list-style: none
}

.slick-dots li.slick-dots {
    width: 12px;
    height: 12px;
    border-radius: 9999px;
    background: #b7d6fd;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.slick-dots li.slick-active button {
    background: #c4cfd4 !important;
    transform: scale(1.2);
}

/* background pattern de "+" */
.bg-plus-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.02'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 60px 60px; /* ajuste este valor para aumentar/diminuir o espaçamento entre os + */
  background-position: center;
  pointer-events: none; /* não bloqueia cliques */
}